.dr-cals {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 8px 8px 32px -16px rgba(0, 0, 0, 0.5);
  padding-top: 6px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.dr-cals:before {
  content: ' ';
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #3B99FC;
  background: linear-gradient(-90deg, #3B99FC 0%, #8AEFC8 100%);
}

.dr-cals .dp-edge-day {
  visibility: hidden;
}

.dr-cals .dp-cal-footer {
  display: none;
}

.dr-cals .dp {
  border: 0;
}

.dr-cals .dp-permanent {
  max-width: 300px;
}

.dr-cals .dp-selected:focus,
.dr-cals .dp-selected,
.dr-cals .dp-current:focus,
.dr-cals .dp-current {
  background: transparent;
  color: inherit;
  border-radius: 0;
}

.dr-cals .dp-day-disabled,
.dr-cals .dp-day-disabled:focus {
  color: #DDD;
}

.dr-cal-end .dp {
  border-left: 8px solid #F5F5F5;
}

.dr-cal-start .dp-next,
.dr-cal-end .dp-prev {
  visibility: hidden;
}

.dr-cals .dp-current:hover,
.dr-cals .dr-in-range:hover,
.dr-cals .dr-in-range:focus,
.dr-cals .dr-in-range {
  background: #75BCFC;
  color: white;
  border-radius: 0;
}

.dr-cals .dr-selected:hover,
.dr-cals .dr-selected:focus,
.dr-cals .dr-selected {
  background: #3B99FC;
  color: white;
  border-radius: 0;
}

@media (max-width: 616px), (max-height: 480px) {
  .dr-cal-end {
    display: none;
  }

  .dr-cal-start .dp-next {
    visibility: visible;
  }
}
