/* Date Picker */
.dp-wrapper {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: background 0.5s;
}

.dp-wrapper.dp-visible {
  background: rgba(0, 0, 0, 0.25);
}

.dp {
  text-align: center;
  position: absolute;
  border: 1px solid #EEE;
  background: white;
  width: calc(100% - 4em);
  max-width: 600px;
  top: 50%;
  left: 50%;
  border-radius: 0.25em;
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.45);
  transform: translate(-50%, 0);
  transition: transform 0.5s;
}

.dp-visible .dp {
  transform: translate(-50%, -50%);
}

/* Header */
.dp-header {
  box-sizing: border-box;
  position: relative;
  padding: 1em 2em 1.5em;
}

.dp-month-year {
  display: block;
  font-size: 1.5em;
  font-weight: 300;
}

.dp-month,
.dp-year {
  margin: 0 0.15em;
}

.dp-prev,
.dp-next {
  position: absolute;
  top: 0;
  border: 0;
  background: transparent;
  outline: none;
  padding: 2.5em 3.5em;
}

.dp-prev:after,
.dp-next:after {
  content: '';
  border: 2px solid #777;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: rotate(-45deg);
  transition: border-color 0.2s;
}

.dp-prev:focus:after,
.dp-next:focus:after,
.dp-prev:hover:after,
.dp-next:hover:after {
  border-color: black;
}

.dp-prev:after {
  border-right: 0;
  border-bottom: 0;
}

.dp-next:after {
  border-left: 0;
  border-top: 0;
}

.dp-prev {
  left: 0;
}

.dp-next {
  right: 0;
}

/* Body */
.dp-body {
  text-align: center;
}

.dp-day-of-week,
.dp-day {
  box-sizing: border-box;
  display: inline-block;
  width: 14%;
  text-align: center;
  padding: 0.25em 0;
  border: 0;
  margin: 0;
  line-height: 1;
  background: transparent;
  outline: none;
  text-decoration: none;
}

.dp-day {
  position: relative;
  cursor: pointer;
  font-size: 1.25em;
  padding: 0.75rem 0;
}

.dp-edge-day {
  color: #D0D0D0;
}

.dp-today:hover,
.dp-close:hover,
.dp-clear:hover,
.dp-today:focus,
.dp-close:focus,
.dp-clear:focus,
.dp-day:hover {
  background: #72BBFF;
  color: white;
}

.dp-today:active,
.dp-close:active,
.dp-clear:active,
.dp-selected {
  background: #3497FF;
  color: white;
}

.dp-day-of-week {
  text-transform: uppercase;
  font-size: 0.8em;
  opacity: 0.5;
}

/* Footer */
.dp-today,
.dp-close,
.dp-clear {
  display: inline-block;
  box-sizing: border-box;
  padding: 1em;
  border: 0;
  font-size: 1em;
  width: 33%;
  background: transparent;
  outline: none;
}

.dp-day-today:after {
  content: '';
  height: 0;
  width: 0;
  border: 7px solid #227BD7;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

/* Responsive overrides */
@media (max-width: 480px), (max-height: 480px) {
  .dp {
    font-size: 0.8em;
    width: auto;
    top: 25%;
    left: 50%;
    width: 100%;
    border-radius: 0.25em;
    overflow: hidden;
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.45);
    transform: translate(-50%, 0);
    transition: transform 0.5s;
  }

  .dp-day-of-week,
  .dp-day {
    padding: 0.5em;
  }

  .dp-visible .dp {
    transform: translate(-50%, -25%);
  }
}
