.dp-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
}

.dp {
  position: relative;
  max-height: 400px;
  width: calc(100% - 4em);
  max-width: 600px;
  border: 1px solid #DDD;
  background: #FFF;
  line-height: 1.4;
  border-radius: 4px;
  z-index: 1000;
  overflow: auto !important; /* HACK for Chrome on Android */
}

.dp-cal {
  min-height: 300px;
}

.dp-below {
  position: absolute;
  margin-top: 0.5em;
  font-size: 0.8em;
  width: 400px;
}

.dp-modal .dp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.45);
  animation: slide-up 0.3s forwards;
}

.dp-months {
  padding: 1em;
}

.dp-cal-month,
.dp-cal-year,
.dp-day,
.dp-month,
.dp-year {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: #3B404D;
}

.dp-cal-header {
  position: relative;
  text-align: center;
  margin-bottom: 0.5em;
}

.dp-next,
.dp-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  top: 1em;
  color: #777;
  transition: color 0.2s;
}

.dp-next:focus,
.dp-prev:focus,
.dp-next:hover,
.dp-prev:hover {
  outline: none;
  color: inherit;
}

.dp-prev {
  left: 1.4em;
}

.dp-next {
  right: 1.4em;
}

.dp-prev:before,
.dp-next:before {
  content: '';
  border: 2px solid;
  width: 10px;
  height: 10px;
  display: inline-block;
  transform: rotate(-45deg);
  transition: border-color 0.2s;
  margin: 0.5em 0 4em;
}

.dp-prev:before {
  border-right: 0;
  border-bottom: 0;
}

.dp-next:before {
  border-left: 0;
  border-top: 0;
}

.dp-cal-month,
.dp-cal-year {
  display: inline-block;
  font-size: 1.4em;
  padding: 0.75em 0.25em 0.5em;
  outline: none;
}

.dp-cal-footer {
  text-align: center;
}

.dp-day-today:after {
  content: '';
  height: 0;
  width: 0;
  border: 7px solid #227BD7;
  border-bottom-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.dp-close,
.dp-clear,
.dp-today {
  box-sizing: border-box;
  display: inline-block;
  width: 33%;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
}

.dp-close:hover,
.dp-close:focus,
.dp-clear:hover,
.dp-clear:focus,
.dp-today:hover,
.dp-today:focus,
.dp-cal-month:focus,
.dp-cal-month:hover,
.dp-cal-year:hover,
.dp-cal-year:focus {
  background: #75BCFC;
  color: white;
}

.dp-col-header,
.dp-day {
  width: 14.28571429%;
  display: inline-block;
  padding: 0.5em;
  text-align: center;
}

.dp-col-header {
  color: #AAA;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  padding: 0.5em 0;
}

.dp-month {
  width: 33%;
  display: inline-block;
  padding: 0.5em;
}

.dp-year {
  display: block;
  padding: 0.15em 4em;
}

.dp-edge-day {
  color: #AAA;
}

.dp-day:hover,
.dp-month:hover,
.dp-year:hover,
.dp-selected,
.dp-day:focus,
.dp-month:focus,
.dp-year:focus {
  outline: none;
  background: #75BCFC;
  color: white;
}

.dp-current:focus,
.dp-current {
  background: #3B99FC;
  color: #FFF;
}

.dp-day-disabled:focus,
.dp-day-disabled:hover,
.dp-day-disabled {
  background: transparent;
  color: #DDD;
}

.dp-focuser {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
}

/* Responsive overrides */
@media (max-width: 480px), (max-height: 480px) {
  .dp {
    font-size: 0.8em;
    width: auto;
    top: 25%;
    left: 50%;
    width: 100%;
    border-radius: 0.25em;
    overflow: hidden;
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.45);
    transform: translate(-50%, 0);
    transition: transform 0.5s;
  }

  .dp-day-of-week,
  .dp-day {
    padding: 0.5em;
  }

  .dp-visible .dp {
    transform: translate(-50%, -25%);
  }
}

@keyframes slide-up {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}