* {
  box-sizing: border-box;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

a {
  color: #0078CF;
}

main {
  display: block;
  position: relative;
  max-width: 1024px;
  margin: auto;
  padding: 40px;
}

.page-header {
  text-align: center;
  margin-bottom: 24px;
}

.form-field {
  margin-bottom: 24px;
}

.form-field-label {
  display: block;
  margin-bottom: 4px;
}

.date-example {
  width: 100%;
  padding: 8px;
  border: 2px solid #DDD;
  border-radius: 4px;
}

.date-example:focus {
  border: 2px solid #0078CF;
}

.demo-content {
  text-align: center;
}

.form-group {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  margin: 0 24px;
}

.code-sample {
  display: inline-block;
  font-family: monospace;
  background: #f5f5f5;
  padding: 4px;
  border: 1px solid #EEE;
}

@media (max-width: 480px), (max-height: 480px) {
  main {
    padding: 8px;
  }

  .form-group {
    width: 100%;
    max-width: 480px;
  }
}

/* Date Range Examples */

.date-range-examples {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.ex-inputs {
  position: relative;
}

.ex-inputs-header {
  text-align: center;
  margin-bottom: 8px;
}

.ex-inputs-start,
.ex-inputs-end {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #CCC;
  border-radius: 2px;
}

.ex-inputs-start:focus,
.ex-inputs-end:focus {
  border-color: #46A5F5;
}

.ex-inputs-picker {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: calc(100% + 8px);
  opacity: 0;
  z-index: -20;
  transform: translateX(-50%);
  transition: all 0.25s;
}

.ex-inputs-picker-visible {
  opacity: 1;
  z-index: 1000;
}

@media (max-width: 616px), (max-height: 480px) {
  .ex-inputs-start,
  .ex-inputs-end {
    width: 100%;
  }
}