.dp-cal {
  border: 1px solid #f3f4f6;
  border-radius: 0.25rem;
  background: #fff;
  position: relative;
}

.dp-cal:focus {
  outline: none;
}

.dp-cal button {
  cursor: pointer;
  border-radius: 0.25rem;
}

.dp-cal button:active {
  background: #3b82f6;
  color: white;
}

.dp-cal input:focus,
.dp-cal button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #93c5fd;
}

.dp-day:focus {
  font-weight: bold;
}

.dp-flyout {
  position: absolute;
  z-index: 20;
  width: 28rem;
  max-width: calc(100vw - 1rem);
  box-shadow: 0.25rem 0.25rem 0.5rem -0.35rem rgb(0 0 0 / 50%);
}

.dp-months {
  width: 90%;
  max-width: 36rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dp-years {
  max-height: 100%;
  padding: 0.25rem;
  overflow: auto !important; /* HACK for Chrome on Android */
}

.dp-cal-month,
.dp-cal-year,
.dp-day,
.dp-month,
.dp-year {
  color: #374151;
  border: 0;
  background: transparent;
}

.dp-cal-header,
.dp-cal-header-placeholder {
  position: relative;
  text-align: center;
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dp-cal-header-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #f9fafb;
  border-bottom: 1px solid #f3f4f6;
}

.dp-next,
.dp-prev {
  position: absolute;
  z-index: 1;
  font-size: 1.5rem;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  background: transparent;
  border: 0;
  top: 0.5rem;
  color: #6b7280;
}

.dp-next:focus,
.dp-prev:focus {
  outline: none;
  color: inherit;
}

.dp-prev {
  left: 0.5rem;
}

.dp-next {
  right: 0.5rem;
}

.dp-cal-month,
.dp-cal-year {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.5rem;
  outline: none;
}

.dp-cal-footer {
  text-align: center;
  background: #f9fafb;
}

.dp-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1rem 0.5rem;
}

.dp-day-today {
  font-weight: bold;
  color: #3b82f6;
}

.dp-col-header,
button.dp-day {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  font-size: 0.875rem;
  margin: 0.25rem auto;
}

.dp-col-header {
  color: #aaa;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
  padding: 8px 0;
}

.dp-month {
  padding: 0.5rem;
  margin: 0.25rem;
}

.dp-year {
  display: block;
  padding: 8px 40px;
  width: 100%;
  margin: 0.25rem 0;
}

.dp-edge-day {
  color: #aaa;
}

.dp-day:focus,
.dp-month:focus,
.dp-year:focus {
  outline: none;
}

.dp-selected:focus,
.dp-selected {
  background: #3b82f6;
  color: #fff;
}

.dp-day-disabled {
  background: transparent;
  color: #ddd;
}

.dp-day-disabled:focus {
  background: #ddd;
}

.dp-body-next {
  animation: slide-in-left 0.15s forwards;
}

.dp-body-prev {
  animation: slide-in-right 0.15s forwards;
}

.dp-submenu {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  z-index: 10;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2rem rgb(0 0 0 / 25%);
}

footer.dp-time-footer {
  position: relative;
  background: #f9fafb;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dp-apply,
.dp-ampm,
.dp-txt-time {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 2.5rem;
  text-align: center;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  margin: 0 0.25rem;
}

.dp-apply,
.dp-ampm {
  background: transparent;
}

.dp-ampm {
  text-transform: uppercase;
}

.dp-cal-month:hover,
.dp-cal-year:hover,
.dp-apply:hover,
.dp-ampm:hover {
  border-color: #3b82f6;
  background: #3b82f6;
  color: #fff;
}

.dp-apply {
  width: auto;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

@keyframes slide-up {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0.5;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 480px), (max-height: 480px) {
  .dp-flyout {
    margin-left: -0.5rem;
  }
}
